#In_circle_1{
    float: right;
}
.in_circle_progress,.in_circle_progress2{
    height: 43px;
    width: 43px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #12c18b;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 2px;   
}
.in_ligne{
    width:100%;
    border:2px solid #c2c1c3;
    height:0px;
    position: relative;
    border-left:none;
    border-right:none;
    margin-top: 21px;
}
.in_y{
    width:0%;
    background-color:#12c18b;
    height:4px;
    margin:0;
    padding:0;
    position: absolute;
    bottom: -2px;
}
#in_col_m_c
{
    width: 100px;
    margin-right: -12px;
}
#in_div_p_left,#in_div_p_right{
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box; 
}
#in_div_p_left{ 
    margin-right: -24px;
    float: left;
}
#in_div_p_m{
    width: 43px;
    margin-left: 24px;
} 
.in_circle_progress2
{
      border: 2px solid #c2c1c3;  
}
#div_pg_in{
 
    
    margin-left: auto;
    margin-right: auto;
}
#div_pg_in
{
    -webkit-animation-delay: 0.1s;
}
#div_pg_in div[class^="col-"]{
   
     padding-right: 0; 
    padding-left: 0; 
}
#div_pg_in .row,#div_pg_in .row .row {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
}
#div_pg_in{
      height: 50px;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #d6dedf;
    border-radius: 15px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #90a8ab;
    box-shadow: inset 0 0 6px #90a8ab;
}